header {
  border: 10px solid darkcyan;
  border-top: 10px solid cyan;
  border-bottom: 10px solid cyan;
  border-width: 10px;
  border-style: groove;
  margin: 0 auto;
  width: 15%;
}
body {
  padding: 7%;
  background-color: rgba(13, 10, 187, 0.884);
  color: yellow;
  font-family: "Coda Caption", sans-serif;
}
.box-1 {
  margin: 0%;
}
main {
  padding: 1%;
}
h1 {
  color: yellow;
  margin: 0%;
  font-size: 50px;
}
h2 {
  border: 5;
  color: yellow;
}
h4 {
  color: yellow;
}
hr {
  margin: 0px;
}
p {
  padding: 1%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin: 0 auto;
  width: 15%;
}
footer {
  border: 10px solid darkcyan;
  border-top: 10px solid cyan;
  border-bottom: 10px solid cyan;
  border-style: groove;
  border-width: 10px;
  margin: 0 auto;
  padding: 1%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 15%;
}
a {
  color: yellowgreen;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0%;
  width: 75%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
@media (min-width: 1024px) {
}
body {
  background-color: brown;
}
