body {
  background-color: rgb(3, 51, 3);
  color: greenyellow;
  font-family: "Balsamiq Sans", cursive;
}
h1 {
  border: 5px solid indigo;
  border-top-color: blueviolet;
  border-bottom-color: blueviolet;
  color: greenyellow;
  font-size: 60px;
}
h2 {
  margin: 5 auto;
  width: 0%;
  padding: 0%;
}
h3 {
  color: yellow;
}
ul {
  margin: 0;
  padding: 5%;
  border: 5px solid indigo;
  border-top-color: blueviolet;
  border-bottom-color: blueviolet;
}
li {
  color: greenyellow;
}

a {
  color: yellow;
}
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0%;
  width: 75%;
}
@media (min-width: 1024px) {
}
body {
  background-color: chartreuse;
}
